body{
  margin: 0;
  padding: 0;
}

form{
  background-color: brown;
  width: 500px;
  height: 400px;
  max-width: 100%;

}

input{
margin-right:10px;
padding-right: 30px;
  font-size: 22px;
}

label{
  font-weight: bold;
  font-size: 22px;
  
}


.display{
  border-collapse: collapse;
  width: 48%;
  border: 3px solid black;
  margin-top:5% ;
  margin-left: 1%;
  background-color: chocolate;
  font-size: 12px;
}

table , tr,th{
  border: 1px solid black;
  padding: 4px;
  text-align: center;
 

}

td {
  margin: 15px;
  border: 1px solid black;
  padding: 15px;
}


